<div class="container">
    <div class="row">
        <div class="account-wall">
            <h1 class="text-center">Afiliados por Región</h1>
            <div class="row">
                <div class="col-md-12" ng-controller="regionController">
                    <div class="account-wall">
                        <table ng-table="vm.tableParams" id="resultado" ng-hide="resultado" class="table table-condensed table-bordered table-striped">
                            <div class="container">
                                <div class="account-wall">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table ng-table="tableParams" template-pagination="custom/pager" class="table">
                                                <tr ng-repeat="user in $data">
                                                    <td data-title="'Region'">
                                                        {{user.region}}
                                                    </td>
                                                    <td data-title="'Conteo'">
                                                        {{user.conteo | number}}
                                                    </td>
                                                    <td data-title="'Exportar'">
                                                        <button class="waves-effect waves-light btn" ng-click="exportar(user.numero)">Exportar</button>
                                                    </td>

                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>