<div class="container" data-ng-init="listaRegiones()">
		<form ng-submit="Afiliados()" class="form-inline" name="buscaAfiliadoForm">
			<input type="text" placeholder="Rut" ng-model="rut" class="form-control" >
			<input type="text" placeholder="Nombre" ng-model="nombre" class="form-control">
            <select  class="form-control"
                      ng-model="Numero"
                      ng-options="item as item.Region for item in listaRegiones track by item.Numero">
                      <option value="" disabled selected>Seleccione una Región</option>
            </select>
        	<button class="btn btn-success" type="submit">Buscar</button>
            <button class="btn primary" ng-click="exportData();" target="_blank">Exportar</button>
            <a href="" target="_blank" ng-click="exportData()">Exportar</a>
    	</form>

</div>

<table ng-table="vm.tableParams" id="resultado" ng-hide="resultado" class="table table-condensed table-bordered table-striped">
    <div class="container">
     <div class="account-wall">
        <h1>Lista de Afiliados</h1>
        <div class="row">
            <div class="col-md-12">
             <strong>Pagina:</strong> {{tableParams.page()}}
             <strong>Datos por Paginas:</strong> {{tableParams.count()}}
             <strong>Total:</strong> {{total}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table ng-table="tableParams" template-pagination="custom/pager" class="table">
                    <tr ng-repeat="user in $data">
                        <!-- <td data-title="'fecha_ingreso'" sortable="'fecha_ingreso'">
                            {{user.fecha_ingreso}}
                        </td> -->
                        <td data-title="'RUT'" filter="{ 'RUT': 'text' }" style="width: 8%;">
                            {{user.RUT}}
                        </td>
                        <td data-title="'Nombre'" filter="{ 'Nombre': 'text' }">
                            {{user.Nombre}}
                        </td>
                        <td data-title="'Comuna'" sortable="'Comuna'" filter="{ 'circu': 'text' }">
                            {{user.circu}}
                        </td>
                        <!-- <td data-title="'Region'" sortable="'Region'">
                            {{user.Region}}
                        </td> -->
                        <td data-title="'Region'" sortable="'Region'" filter="{ 'NombreRegion': 'text' }">
                            {{user.NombreRegion}}
                        </td>
                        <!--<td data-title="'Estado'" sortable="'estado'">
                            {{user.estado}}
                        </td>
                        <td data-title="'Cargo'" sortable="'Cargo'">
                            {{user.Cargo}}
                        </td>
                        <td data-title="'Modificar'">
                            <button type="button" class="btn-primary btn-block" data-toggle="modal" data-target="#modificaAfiliado" ng-click="edita(user)">Modificar</button>
                        </td> -->
                    </tr>
                </table>
            </div>
                <script type="text/ng-template" id="custom/pager">
                    <ul class="pager ng-cloak">
                        <li ng-repeat="page in pages"
                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Atras</a>
                            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Siguiente &raquo;</a>
                        </li>
                        <li>
                            <div class="btn-group">
                                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                            </div>
                        </li>
                    </ul>
            </script>
        </div>
    </div>
</div>
</table>

<!-- Modal -->
<div id="modificaAfiliado" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modificar a {{afiliado.Nombre}}</h4>
      </div>
      <div class="modal-body">
      	<form ng-submit="editaAfiliado()">
      		<fieldset class="form-group">
      			<label for="formGroupExampleInput">Rut</label>
	        	<input type="text" ng-model="afiliado.RUT" class="form-control" required>
	        	<label for="formGroupExampleInput2">Nombre</label>
	        	<input type="text" ng-model="afiliado.Nombre" class="form-control" required>
	        	<label for="formGroupExampleInput3">Estado</label>
	        	<input type="text" ng-model="afiliado.estado" class="form-control" required>
	        	<br>
	        	<button class="btn btn-success" type="submit">Editar</button>
        	</fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
